<div class="body">
  <div class="login-title">工程项目管理系统</div>
  <div class="login-box">
      <div class="title">
          <img src="../../../assets/images/login/p3.png" alt="">
          用户登录
      </div>
      <!-- <div class="form">
          <img src="../../../assets/images/login/p1.png">
          <input type="text" style="border-bottom: 1px solid #e6e6e6;">
          <img src="../../../assets/images/login/s.png" alt="" style="top: 164px;left:42px;">
          <input type="password">
      </div>
      <div class="text">
          <span><input type="checkbox" value="true">下次自动登录</span>
          <span><a href="#">忘记密码?</a></span>
      </div>
      <button class="loginbtn">登录</button> -->
      <div class="form">
        <form nz-form [formGroup]="validateForm" class="login-form">
          <div class="input-box">
            <div class="account-input">
              <nz-form-item>
                <nz-form-control>
                  <nz-input-group nzPrefixIcon="anticon anticon-user">
                    <input type="text" nz-input formControlName="account" placeholder="用户名">
                  </nz-input-group>
                  <nz-form-explain *ngIf="validateForm.get('account').dirty && validateForm.get('account').errors" style="padding-top: 5px;">请输入您的用户名!</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <nz-form-item>
              <nz-form-control>
                <nz-input-group nzPrefixIcon="anticon anticon-lock">
                  <input type="password" nz-input formControlName="password" placeholder="密码">
                </nz-input-group>
                <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors" style="margin-top: 5px;">请输入密码!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>

          <nz-form-item>
            <nz-form-control>
              <a routerLink="/auth/reset" class="forget">忘记密码？</a>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="!validateForm.valid" (click)="signIn()" style="margin-left:48px;">登录</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
  </div>
</div>

