<div class="row">
    <div class="col-md-4">
      <ul>
        <li><a routerLinkActive="active" routerLink="/home">首页</a></li>
        <li><a routerLinkActive="active" routerLink="/about">关于我们</a></li>
        <li><a routerLinkActive="active" routerLink="/news">新闻中心</a></li>
        <li><a routerLinkActive="active" routerLink="/contact">联系我们</a></li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="crumbs clearfix">
        <ul>
            <ng-container  *ngFor="let menu of menuList">
                <ng-container *ngIf="menu.isSelect">
                    <li class="isSelect">
                        <a routerLink="/{{ menu.module }}">{{ menu.title }}</a> 
                        <span (click)="closeUrl(menu.module,menu.isSelect)">X</span> 
                    </li>
                </ng-container>
                <ng-container *ngIf="!menu.isSelect">
                    <li>
                        <a routerLink="/{{ menu.module }}">{{ menu.title }}</a> 
                        <span  (click)="closeUrl(menu.module,menu.isSelect)">X</span> 
                    </li>
                </ng-container>
            </ng-container>
        </ul>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>